{% extends 'main/main.html' %}
{% block title %}Чат. ДомОК{% endblock %}
{% load static %}
{% block header %}{% include 'main/header.html' with homes=homes %}{% endblock %}
{% block navbar %}{% include 'main/navbar.html' with active_tab="chat" %}{% endblock %}
{% block content %}
<div class="alert alert-success text-center">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <h4 class="mb-0 mb-xs-15">Чат</h4>
        </div>
    </div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="chat-box js-chat-box">
		{% for message in messages %}
			<div class="chat-box-line js-chat-line" data-id="33">
			<div class="row">
				<div class="col-xs-12 col-sm-2 hidden-xs">
					<div class="chat-box-line-name">
						<span class="js-name">{{ message.user }}</span>
					</div>
					<div class="chat-box-line-face thumbnail">
						{% if message.user.image == '' or message.user.image == None %}
							<img src="{% static '/img/noavatar.png' %}" alt="fvdfv fvdfv" class="js-avatar">
						{% else %}
							<img src="/media/{{ message.user.image }}" alt="fvdfv fvdfv" class="js-avatar">
						{% endif %}
					</div>
					<div class="chat-box-line-num">
						<span class="js-flatnum">Председатель</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-10">
					<div class="clearfix">
						<div class="pull-left visible-xs">
							<div class="chat-box-line-name">
								<span class="js-name">{{ message.user }}</span> (<span class="js-flatnum">Председатель</span>)
							</div>
						</div>
						<div class="pull-right">
							<div class="chat-box-line-date">
								<span class="js-datetime">{{ message.created_at|date:"d.m.Y (H:i)" }}</span>
							</div>
						</div>
					</div>
					<div class="chat-box-line-mess">
						<span class="js-text">{{ message.text }}</span>
					</div>
				</div>
			</div></div>
		{% endfor %}	
		
		</div>
		</div>
	<div class="panel panel-success">
		<div class="panel-body">
			<form  class="js-chat-message-form" action=".">
				{% csrf_token %}
				<div class="mb-15">
					{{form.text}}
				</div>
				<div class="clearfix">
					<div class="pull-right">
						<button type="submit" class="btn btn-success" id="send_chat_message">Отправить</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>

<div class="hidden" id="templates">
	<div id="chat-message-template">
		<div class="chat-box-line js-chat-line">
			<div class="row">
				<div class="col-xs-12 col-sm-2 hidden-xs">
					<div class="chat-box-line-name">
						<span class="js-name"></span>
					</div>
					<div class="chat-box-line-face thumbnail">
						<img src="/static/img/noavatar.png" class="js-avatar">
					</div>
					<div class="chat-box-line-num">
						<span class="js-flatnum"></span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-10">
					<div class="clearfix">
						<div class="pull-left visible-xs">
							<div class="chat-box-line-name">
								<span class="js-name"></span> (<span class="js-flatnum"></span>)
							</div>
						</div>
						<div class="pull-right">
							<div class="chat-box-line-date">
								<span class="js-datetime"></span>
							</div>
						</div>
					</div>
					<div class="chat-box-line-mess">
						<span class="js-text"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}