{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}
    {% block form_top %}
    {% if request.GET.pch is not None %}
        <ul class="messagelist">
            <li class="success">Пароль сгенерирован и отправлен на Эл. почте пользователя.</li>
        </ul>
    {% endif %}
    {% endblock %}
    {% block submit_buttons_bottom %}
    <style>
        .submit-row.make_password_button a{
            margin: 0 0 0 8px;
            text-transform: uppercase;
            background: var(--link-selected-fg);
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            color: var(--button-fg);
            cursor: pointer;
            transition: background 0.15s;
            float: left;
        }
    </style>
    {{ block.super }}
    {% if original is not None %}
    <div class="submit-row make_password_button">
                    <a href="{% url 'users:set-password' original.pk %}?type={{ original.role }}"
                        class="btn btn-high btn-success">
                        Сгенерировать пароль
                    </a> </div>
    {% endif %}

    {% endblock %}
